* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.home,
.services,
.contact,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url("./images/img-9.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  display: block;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.servicessub {
  font-size: 100px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.servicesmain {
  font-size: 20px;
  color: white;
  margin-bottom: -50px;
}
.servicesmain1 {
  font-size: 30px;
  color: white;
  margin-bottom: -50px;
}

.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/img-2.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  display: block;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.contacth {
  font-size: 100px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.contactp {
  font-size: 50px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sign-up {
  background-image: url("./images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
